doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        title= title
    body 
        div(class="container")
            h1= title
            if success
                div(class="alert alert-success alert-dismissible fade show" role="alert") #{success}
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true") X
            if errors 
                each error , e in errors 
                    div(class="alert alert-danger alert-dismissible fade show" role="alert") #{error.msg}
                        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true") X
            form(action="/submit" method="POST")
                div(class="form-group")
                    label(for="username" class="form-label") Name
                    input(class="form-control" name="name" )
                div(class="form-group")
                    label(for="email" class="form-label") Email
                    input(class="form-control" name="email")
                div(class="form-group")
                    label(for="phnumber" class="form-label") PhoneNumber
                    input(class="form-control" name="phnumber")
                div(class="form-group")
                    label(for="gender" class="form-label") Gender 
                       
                        br
                        label(for="male" class="form-label") Male 
                            input( value="Male" name="gender" type="radio")
                        label(for="male" class="form-label" style="margin-left:5px") Female 
                            input(value="Female" name="gender" type="radio") 
                        label(for="male" class="form-label" style="margin-left:5px") Others
                            input(value="Others" name="gender" style="margin-left:5px" type="radio") 
                div(class="form-group")
                    label(for="hobbies" class="form-label") Choose your hobbies
                        br
                        
                        label(for="reading" class="checkbox-inline") Reading books 
                            input(value="reading" name="hobbies" type="checkbox")
                        label(for="dancing" class="checkbox-inline" style="margin-left:5px") Dancing  
                            input(value="dancing" name="hobbies" type="checkbox" style="margin-left:5px" ) 
                        label(for="music" class="form-label checkbox-inline" style="margin-left:5px" ) Listening to music
                            input(value="music" name="hobbies" type="checkbox" style="margin-left:5px" )
                        label(for="travel" class="form-label checkbox-inline" style="margin-left:5px" ) Travel/Riding
                            input(value="travel" name="hobbies" type="checkbox" style="margin-left:5px" )
                        label(for="nohobby" class="form-label checkbox-inline" style="margin-left:5px") I have no hobbies :(
                            input(value="nohobbies" name="hobbies" type="checkbox" style="margin-left:5px") 
                div(class="form-group")
                    button(type="submit" class="btn btn-primary") Submit

        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous")